[LOG]
ENABLE = true
ERRORLOG = true
QUERYLOG = false
SCREEN = true
PATH = 'logs/'
FILENAME = testCLI.log
ERRORFILENAME = error_testCLI.log
QUERYFILENAME = queries_testCLI.log
DATEONFILENAME = true

[DB]
HOST = 10.208.5.20
PORT = 3306
DATABASE = INVERTEC
USERNAME = root
PASSWORD = 'expled08'
